page-sign-in {
    .background {
        background-image: url('../assets/pict/background.png');
        // background-color: white;
        background-repeat: no-repeat;
        background-size: cover;
    }

}
